<div class="ex-nav">
  <a href="../index.html" class="q2w-btn ex-back">
    {% icon "arrow-left", "14" %} Home
  </a>
  <div class="ex-nav__examples">
    <a href="choropleth.html" class="q2w-btn">Choropleth</a>
    <a href="dashboard.html" class="q2w-btn">Dashboard</a>
    <a href="heatmap.html" class="q2w-btn">Heatmap</a>
    <a href="poi.html" class="q2w-btn">POI</a>
    <a href="categorized-real/" class="q2w-btn">Real export</a>
  </div>
</div>
