<div class="q2w-basemap-panel q2w-basemap-panel--preview">
  <div class="q2w-basemap-panel__head">
    <div>
      <div class="q2w-basemap-panel__title">Basemap</div>
      <div class="q2w-basemap-panel__sub">Southeast Asia preview</div>
    </div>
    <span class="q2w-basemap-panel__active" data-doc-basemap-label>OSM Streets</span>
  </div>
  <div class="q2w-basemap-grid q2w-basemap-grid--tiles">
    <button class="q2w-basemap q2w-basemap--preview q2w-basemap--active" data-doc-basemap="OSM Streets" data-doc-tile="osm" data-doc-source="OpenStreetMap">
      <div class="q2w-basemap__thumb q2w-bm-osm"></div>
      <div class="q2w-basemap__meta"><div class="q2w-basemap__label">OSM Streets</div><div class="q2w-basemap__source">OpenStreetMap</div></div>
    </button>
    <button class="q2w-basemap q2w-basemap--preview" data-doc-basemap="Carto Light" data-doc-tile="light" data-doc-source="Carto Positron">
      <div class="q2w-basemap__thumb q2w-bm-carto-light"></div>
      <div class="q2w-basemap__meta"><div class="q2w-basemap__label">Carto Light</div><div class="q2w-basemap__source">Carto Positron</div></div>
    </button>
    <button class="q2w-basemap q2w-basemap--preview" data-doc-basemap="Esri Terrain" data-doc-tile="terrain" data-doc-source="Esri World Terrain">
      <div class="q2w-basemap__thumb q2w-bm-esri-terrain"></div>
      <div class="q2w-basemap__meta"><div class="q2w-basemap__label">Esri Terrain</div><div class="q2w-basemap__source">World Terrain</div></div>
    </button>
    <button class="q2w-basemap q2w-basemap--preview" data-doc-basemap="Esri Imagery" data-doc-tile="imagery" data-doc-source="Esri World Imagery">
      <div class="q2w-basemap__thumb q2w-bm-esri-imagery"></div>
      <div class="q2w-basemap__meta"><div class="q2w-basemap__label">Esri Imagery</div><div class="q2w-basemap__source">World Imagery</div></div>
    </button>
  </div>
  <div class="q2w-basemap-panel__foot">Source: <strong data-doc-basemap-source>OpenStreetMap</strong></div>
</div>
