<div class="q2w-basemap-panel">
  <div class="q2w-basemap-panel__head">
    <div>
      <div class="q2w-basemap-panel__title">Basemap</div>
      <div class="q2w-basemap-panel__sub">Free tile sources</div>
    </div>
    <span class="q2w-basemap-panel__active" data-doc-basemap-label>OSM Streets</span>
  </div>
  <div class="q2w-basemap-grid q2w-basemap-grid--tiles">
    <button class="q2w-basemap q2w-basemap--tile q2w-basemap--active" data-doc-basemap="OSM Streets">
      <div class="q2w-basemap__thumb q2w-bm-osm"></div>
      <div class="q2w-basemap__meta"><div class="q2w-basemap__label">OSM Streets</div><div class="q2w-basemap__source">openstreetmap.org</div></div>
    </button>
    <button class="q2w-basemap q2w-basemap--tile" data-doc-basemap="Carto Light">
      <div class="q2w-basemap__thumb q2w-bm-carto-light"></div>
      <div class="q2w-basemap__meta"><div class="q2w-basemap__label">Carto Light</div><div class="q2w-basemap__source">cartocdn.com</div></div>
    </button>
    <button class="q2w-basemap q2w-basemap--tile" data-doc-basemap="Esri Terrain">
      <div class="q2w-basemap__thumb q2w-bm-esri-terrain"></div>
      <div class="q2w-basemap__meta"><div class="q2w-basemap__label">Esri Terrain</div><div class="q2w-basemap__source">ArcGIS REST</div></div>
    </button>
    <button class="q2w-basemap q2w-basemap--tile" data-doc-basemap="Esri Imagery">
      <div class="q2w-basemap__thumb q2w-bm-esri-imagery"></div>
      <div class="q2w-basemap__meta"><div class="q2w-basemap__label">Esri Imagery</div><div class="q2w-basemap__source">ArcGIS REST</div></div>
    </button>
  </div>
</div>
