<div class="q2w-footer" style="position: absolute; left: 16px; right: 16px; bottom: 16px;">
  <div class="q2w-footer__group">© 2026 Aksara Lab</div>
  <div class="q2w-footer__group">Powered by q2w-mapcss</div>
  <div class="q2w-footer__push"></div>
  <div class="q2w-footer__group q2w-footer__coord">-6.7797, 108.4714</div>
</div>
