<div class="q2w-popup" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 240px;">
  <div class="q2w-popup__header"><div><div class="q2w-popup__title">Mekarjaya</div><div class="q2w-popup__sub">ZNT-021</div></div></div>
  <div class="q2w-popup__body">
    <div class="q2w-attr"><span class="q2w-attr__key">value</span><span class="q2w-attr__val">720k</span></div>
    <div class="q2w-attr"><span class="q2w-attr__key">area</span><span class="q2w-attr__val">12.4 ha</span></div>
  </div>
</div>
