<div class="q2w-sidebar" style="position:absolute; top:18px; bottom:18px; left:18px; width:220px;">
  <div class="q2w-sidebar__head">Dashboard</div>
  <div class="q2w-sidebar__body"><div class="q2w-attr"><span class="q2w-attr__key">zones</span><span class="q2w-attr__val">24</span></div><div class="q2w-attr"><span class="q2w-attr__key">avg</span><span class="q2w-attr__val">720k</span></div></div>
</div>
