<div class="q2w-slider q2w-slider--panel" style="width:280px; --q2w-slider-value:75%;">
  <div class="q2w-slider__label">Layer opacity <strong data-doc-slider-value>75%</strong></div>
  <input class="q2w-slider__input" type="range" min="0" max="100" value="75" data-doc-slider aria-label="Layer opacity preview">
  <div class="q2w-slider__hint">Zona Nilai Tanah overlay</div>
</div>
